@using Microsoft.AspNetCore.Mvc.TagHelpers

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding: 1.25rem 6.25rem;">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand" style="width: 10rem">
                <span class="logo-text">Meeting<span>Minutes</span></span>
            </a>
        </div>
    </nav>
</header>